.body{
    margin: 0;
    padding: 0;
    font-family: Mulish;
    font-size: 10px;
}

h1, h2, h3, ul, li, a, p{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.wrapper{
    padding: 50px 180px 50px 180px;
}

.header__wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav__list{
    display: flex;
    flex-direction: row;
}

.nav__item{
    margin-left: 30px;
}

.nav__item>a{
    transition: all 0.2s ease-in-out;
    color: rgb(142, 138, 152);
    font-size: 1rem;
}

.nav__item>a:hover{
    color: #1F1534;
    transition: all 0.2s ease-in-out;
}

.main__wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.main__info{
    width: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 40px;
}

.main__text--l{
    font-size: 2.8rem;
}

.main__text--s, .services__text--xs{
    font-size: 1.2rem;
    color: rgb(142, 138, 152);
}

.main__blue{
    background: #458FF6;
    color: white;
    border: none;
    width: 200px;
    height: 56px;
    border-radius: 50px;
    font-size: 1.1rem;
    transition: all 0.2s ease-in-out;
}

.main__blue:hover{
    transition: all 0.2s ease-in-out;
    background: #00000000;
    color: #458FF6;
    border: 2px solid #458FF6;
}

.services__info{
    row-gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 75px;
}

.line{
    margin: 0 auto;
    width: 40px;
    border: 1px solid black;    
}

.services__text--m{
    font-size: 1.5rem;
}

.services__text--xs{
    line-height: 30px;
    text-align: center;
    width: 850px;
    font-size: 1rem;
}

.services__list{
    width: 1200px;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.services__card{
    row-gap: 20px;
    margin: 0 auto;
    height: 235px;
    padding: 20px;
    transition: all 0.3s ease-in-out;
    border-radius: 20px;
}

.services__card:hover{
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0.7px 0.7px 1.5px 1.5px grey;   
}

.services__text{
    padding-top: 30px;
}

.services__text--s{
    font-size: 1rem;
}

.services__card>p{
    width: 300px;
    text-align: left;
}

.btn{
    background: #458ff600;
    color: #458FF6;
    border: 2px solid #458FF6;
    width: 200px;
    height: 56px;
    border-radius: 50px;
    font-size: 1.1rem;
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.btn:hover{
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border: none;
    background: #458FF6;
    color: white;
}

.support__text--s{
    line-height: 30px;
}

.support__btn{
    margin: 0;
}

.margin{
    margin-bottom: 200px;
}

.support__wrapper{
    flex-direction: row-reverse;
    margin-bottom: 100px;
}

.feedback{
    color: white;
}

.feedback__line{
    border: 1px white solid;
    margin-top: 20px;
}

.feedback__wrapper{
    margin: 0 auto;
    width: 744px;
    height: 350px;
    border-radius: 30px;
    background: linear-gradient(-90deg, #67C3F3, #5A98F2);
}

.feedback__text--l{
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 25px;
}

.feedback__img>img{
    border: white 4px solid;
    border-radius: 50%;
}

.feedback__img{
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.feedback__text--m{
    font-size: 1.2rem;
}

.feedback__text--xs{
    font-size: 0.9rem;
}

.feedback__text--s{
    width: 300px;
    line-height: 20px;
    font-size: 0.9rem;
    float: right;
}

.news__text--l{
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 25px;
}

.news__card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
}

.news__item{
    width: 269px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    transition: all 0.3s ease-in-out;
}

.news__item:hover{
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0.7px 0.7px 1.5px 1.5px grey;  
}

.news__item>a:hover{
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
}

.news__item>img{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.news__text{
    padding: 10px;
}

.news__text--m{
    font-size: 1rem;
}

.news__text--s{
    font-size: 0.8rem;
    line-height: 30px;
    color: rgb(142, 138, 152);
}

.news__btn{
    transition: all 0.3s ease-in-out;
    color: #458FF6;
    font-size: 0.9rem;
    padding: 10px;
}

.footer__wrapper{
    color: white;
    width: 1095px;
    height: 200px;
    background: linear-gradient(-90deg, #67C3F3, #5A98F2);
    display: flex;
    justify-content: space-between;
}

.footer__links{
    color: white;
    transition: all 0.3s ease-in-out;
}

.footer__links:hover{
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
}

.footer__logo>p{
    font-size: 0.8rem;
    margin: 30px 0 30px 0;
    width: 300px;
}

.footer__text--m{
    margin-top: 5px;
    font-size: 1.1rem;
}

.footer__text--s{
    margin: 20px 0 20px 0;
    font-size: 0.8rem;
}
